@page
@model D_D_Monster_Database_Web.Pages.Account.BrowseUsersModel
@{
}

<div class="row text-center mb-4">
	<div class="col-12">
		<h1 class="display-4 text-primary fw-bold">User List</h1>
	</div>
</div>

<form method="post">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Account Type</th>
				<th>Last Login</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model.Users)
			{
				{
					<tr>
						<td>@user.Username</td>
						<td>@user.FirstName</td>
						<td>@user.LastName</td>
						<td>@user.Email</td>
						<td>@user.AccountType</td>
						<td>@user.LastLoginTime.ToString("g")</td>
						<td><button onclick="return confirm('Are you sure?')" class="btn btn-danger" asp-route-id="@user.SystemUserID" asp-page-handler="Delete"><i class="bi bi-trash-fill"></i> Delete</button></td>
					</tr>
				}
			}
		</tbody>
	</table>
</form>